body {
    margin: 0;
    height: 100%;
}

html, body {
    height: 100%;
    overflow: hidden;
}
html {
    background: radial-gradient(ellipse, #1b2735 0%, #090a0f 100%);
}

#app {
    min-height: 100%;
    position: relative;
    z-index: 9999;
    height: 100%;
    width: 100%;
    
}

#app img {
    max-width: 150px;
    display: inline-block;
    max-height: 150px;
    margin: 20px;
}
#player {
    position: absolute;
    bottom: 60px;
    left:calc(50% - 75px);
    width: 150px;
    height: 150px;
    background-size: contain;
    transition: all 300ms ease-out;
}

#player.skin1 {
    background-image: url(../images/space-ship-1.png);
}
#player.skin2 {
    background-image: url(../images/space-ship-2.png);
}
#player.skin3 {
    background-image: url(../images/space-ship-3.png);
}

.bullet {
    position: absolute;
    bottom: 220px;
    left: 50%;
    width: 4px;
    height: 20px;
    background-color: #fff;
    border-radius: 6px/10px;
    box-shadow: 0 0 10px, 0 0  2px inset;
    animation : glow 1500ms  linear infinite;
}
@keyframes glow {
    from {
        color: lime;
        box-shadow: 0 0 9px lime;
    }
    50% {
        color: lime;
        box-shadow: 0 0 18px lime;
    }
    to {
        color: lime;
        box-shadow: 0 0 9px lime;
    }
}


.enemy {
    position: absolute;
    top: -150px;
    left: calc(50% - 75px);
    width: 150px;
    height: 150px;
    background-size: contain;
    transition: all 300ms ease-out;
}

.enemy.skin1 {
    background-image: url(../images/enemy.png);
}


.enemy.boom {
    background-image: url(../images/boom.gif);
    background-repeat: no-repeat;
    background-position: center;
}

.asteroid {
    position: absolute;
    top: -100px;
    width: 100px;
    height: 65px;
    background-image: url(../images/asteroid1.png);
    transition: all 300ms ease-out;
    animation-name: spin;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background-size: contain;
}

.asteroid.boom {
    background-image: url(../images/asteroid-boom.gif);
    background-repeat: no-repeat;
    background-position: center;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}