body {
    margin: 0;
    height: 100%;
}

html, body {
    height: 100%;
    overflow: hidden;
}
html {
    background: radial-gradient(ellipse, #1b2735 0%, #090a0f 100%);
}

#app {
    min-height: 100%;
    position: relative;
    z-index: 9999;
    height: 100%;
    width: 100%;
    padding-top: 40px;
    
}

.player-info {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.start-game, .end-game, .win-game {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
    width: 450px;
    height: 350px;
    padding: 30px 10px;
    background-color: #fff;
    border-radius: 10px;
    margin: 0 auto;
    z-index: 3;
}


.win-game {
align-items: center;
}
.start-game p, .end-game p {
    font-weight: 900;
    font-size: 30px;
    text-align: center;
    margin: 0;
    font-family: monospace;
    color: #5B42F3;
}


.win-game p {
    font-weight: 900;
    font-size: 60px;
    text-align: center;
    margin: 0;
    font-family: monospace;
    color: #5B42F3;
}


.player-results {
    font-weight: 900;
    font-size: 30px;
    margin: 0;
    font-family: monospace;
    color: #5B42F3;
}




 img {
    max-width: 150px;
    display: inline-block;
    max-height: 150px;
  
}


.skin img {
    width: 120px;
    height: auto;
}


#player {
    position: absolute;
    bottom: 60px;
    left:calc(50% - 75px);
    width: 150px;
    height: 150px;
    background-size: contain;
    transition: all 300ms ease-out;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 99;
}

.skinsList {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    column-gap: 15px;
    
}

.skin {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid transparent;
    transition: border 300ms ease-out,
    transform 300ms ease-out;
    cursor: pointer;
}

.skin:hover,
.skin:focus {
    transform: scale(1.2);
}

.skin.active {
    border: 2px solid #5B42F3;
    background-color: rgba(175, 64, 255, 0.4);
    
    
}

#player.skin1 {
    background-image: url(../images/space-ship-1.png);
}
#player.skin2 {
    background-image: url(../images/space-ship-2.png);
    width: 150px;
    height: 200px;
    /* bottom:150px; */
}
#player.skin3 {
    background-image: url(../images/space-ship-3.png);
}

.bullet {
    position: absolute;
    bottom: 220px;
    left: 50%;
    width: 4px;
    height: 20px;
    background-color: #fff;
    border-radius: 6px/10px;
    box-shadow: 0 0 10px, 0 0  2px inset;
    z-index: 3;
}
@keyframes glowLime {
    from {
        color: lime;
        box-shadow: 0 0 9px lime;
    }
    50% {
        color: lime;
        box-shadow: 0 0 18px lime;
    }
    to {
        color: lime;
        box-shadow: 0 0 9px lime;
    }
}
@keyframes glowBlue {
    from {
        color: blue;
        box-shadow: 0 0 9px blue;
    }
    50% {
        color: blue;
        box-shadow: 0 0 18px blue;
    }
    to {
        color: blue;
        box-shadow: 0 0 9px blue;
    }
}
@keyframes glowRed {
    from {
        color: red;
        box-shadow: 0 0 9px red;
    }
    50% {
        color: red;
        box-shadow: 0 0 18px red;
    }
    to {
        color: red;
        box-shadow: 0 0 9px red;
    }
}


.bullet-1 {
    animation: glowLime 1500ms linear infinite;
}
.bullet-2 {
    background-color: rgb(172, 172, 224);
    animation: glowBlue 1500ms linear infinite;
}
.bullet-3 {
    animation: glowRed 1500ms linear infinite;
}

.enemy {
    position: absolute;
    top: -150px;
    left: calc(50% - 75px);
    width: 150px;
    height: 150px;
    background-size: contain;
    transition: all 300ms ease-out;
    z-index: 99;
}

.enemy.skin1 {
    background-image: url(../images/enemy.png);
}


.enemy.boom {
    background-image: url(../images/boom.gif);
    background-repeat: no-repeat;
    background-position: center;
}

.asteroid {
    position: absolute;
    top: -100px;
    width: 100px;
    height: 65px;
    background-image: url(../images/asteroid1.png);
    transition: all 300ms ease-out;
    animation-name: spin;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background-size: contain;
    z-index: 99;
}

.asteroid.boom {
    background-image: url(../images/asteroid-boom.gif);
    background-repeat: no-repeat;
    background-position: center;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}






/* CSS */
.btn {
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
   line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 10px 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
}

.btn:active,
.btn:hover {
    outline: 0;
}

.btn span {
    background-color: rgb(5, 6, 45);
    padding: 7px 40px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:hover span {
    background: none;
}
.menu {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
    z-index: 3;
}
.menu .sounds svg {
    width: 50px;
    height: 50px;
    cursor: pointer;
    fill: #AF40FF;
}
.menu .lifesList img {
    width: 30px;
    height: 30px;
}
.lifesList {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.hidden {
    display: none;
}
.end-game {align-items: center;}
.end-game svg {
    width: 120px;
    height: 120px;
    fill: #AF40FF;
}

.planet {
    position: absolute;
    top: -500px;
    left: 30px;
    transition: all 300ms ease-out;
    z-index: 1;
    

}

.planet.skin-1 {
    width: 500px;
    height: 500px;
    background: url(../images/planet1.png);
    background-size: contain;
}
.planet.skin-2 {
    width: 300px;
    height: 300px;
    background: url(../images/planet2.png);
    background-size: contain;
}
.planet.skin-3 {
    width: 450px;
    height: 450px;
    background: url(../images/death-star.png);
    background-size: contain;
}
.planet.skin-4 {
    width: 130px;
    height: 130px;
    background: url(../images/planet3.png);
    background-size: contain;
}

.additional-life {
    position: absolute;
    top: -150px;
    transition: all 300ms ease-out;
    z-index: 99;
    width: 50px;
    height: 50px;
    background: url(../images/life.png);
    background-size: contain;
    transform: scale(1);
}

